<div class="header">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light navbar_custom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item" id="user" ng-hide="isAuthenticated">
                        <a class="nav-link" ng-click="goLogin()">로그인</a>
                    </li>
                    <li class="nav-item" id="user" ng-show="isAuthenticated">
                        <a class="nav-link" ng-click="goLogin()">{$ user.email $}</a>
                    </li>
                    <li class="nav-item" id="article">
                        <a class="nav-link" ng-click="goArticle()">내 기사</a>
                    </li>
                    <!--
                    <li class="nav-item" id="mypage">
                        <a class="nav-link" ng-click="goMypage()">내 정보</a>
                    </li>
                -->
                    <li class="nav-item" id="user" ng-show="isAuthenticated">
                            <a class="nav-link" ng-click="goLogout()">로그아웃</a>
                    </li>
                    <!--
                        <li class="nav-item" id="voc">
                            <router-link class="nav-link" to="/voc">개발자에게 조언</router-link>
                        </li>
                    -->
                </ul>
                </div>
            </nav>
        </div>
</div>