<div class="articleWirte container">
    <count-bar></count-bar>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="제목을 입력해주세요" ng-model="article.name">
    </div>          
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="링크를 입력해주세요" ng-model="article.link">
    </div>      
    <div class="input-group mb-3">
        <button type="button" class="btn btn-block"
            ng-click="article.willSummary=!article.willSummary"
            ng-class="{'btn-success':!article.willSummary,
                       'btn-secondary':article.willSummary}">
                       <span ng-hide="article.willSummary">정리해보고 싶은 기사인가요?</span>
                       <span ng-show="article.willSummary">네! 요약해보고 싶어요!</span>
        </button>    
    </div>
    
    <div class="input-group mb-3">
        <textarea class="articleWrite__summary form-control"
                  ng-modle="article.summary"
                  ng-show="article.willSummary"
                  placeholder="기사를 정리해볼까요? 3줄 요약은 어떤가요?"></textarea>
    </div>
    
    다시 읽고 싶은 만큼 점수를 매겨주세요!
    <button class="articleWirte_rateButton">1</button>
    <button class="articleWirte_rateButton">2</button>
    <button class="articleWirte_rateButton">3</button>
    <button class="articleWirte_rateButton">4</button>
    <button class="articleWirte_rateButton">5</button>
    <button type="button" class="btn btn-success btn-block"
            ng-click="submit();">
        업로드!
    </button>
</div>