.articleWirte
    .articleWirte_rateButton
        background-color: #5E5E5E
        color: white
        border: none
        outline: none
        border-radius: 15px
        width: 30px
        height: 30px
        cursor: pointer

        &:hover
            background-color: #55AB67
            color: white
