<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <title>Article Box</title>
    <link rel="icon" href="/static/images/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/static/images/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/static/images/favicon-64.png" sizes="64x64">


    <link rel="canonical" href="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <!-- SEO 관련 
  
    -->

    <base href="/">

    <link rel="stylesheet" href="/static/css/library/bootstrap.min.css"/>
</head>


<body ng-cloak ng-app="baseApp" ng-controller="BaseCtrl" md-no-ink>  
            
    <app-header></app-header>   
    <article-case></article-case>
    <app-footer></app-footer>        


    <script type="text/javascript" src="/static/js/library/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/library/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/library/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/library/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/library/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/js/library/angular-sanitize.min.js"></script>
    <script src="/static/dist/articlebox.bundle.js"></script>
    <script>
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '1884000308285283',
            xfbml      : true,
            version    : 'v2.12'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
          
</body>
</html>


