<div class="articleList"
     ng-init="init();">
    <button class="btn btn-block btn-success"
            ui-sref="article.write">
        새 기사를 모으고 싶어요!
    </button>

    <div class="articleList__itemWrapper"
            ng-repeat="article in user.articles">
        <div>
            <span class="articleList__itemRateBadge">{$ article.rate $}</span>
            <h2 class="articleList__itemTitle">{$ article.name $}</h2>
        </div>
        <div ng-show="article.willSummary">
            <p class="articleList__summary">
                {$ article.summary $}
            </p>
        </div>
        <div class="articleList__bottomWrapper">   
            <p class="articleList__tagWrapper">
                    <span class="articleList__tag"
                    ng-repeat="tag in article.tags">
                    {$ tag $}
              </span>

            </p>
            
                <a class="articleList__link"
                   href="{$ article.link $}"
                   target="_blank">
                    link
                </a>

        </div>
    </div>
</div>